#FORMAÇÕES {
  display: grid;
  grid-template-columns: auto 2fr;
}

.titulo {
  font-family: "Inria Serif";
  font-size: 6.5rem;
  margin: 0px 100px;
}
.red {
  color: #ff0004;
}

.eu {
  display: block;
  margin-left: 40px;
}
.titulo {
  text-align: center;
  align-items: center;
}

.descricao {
  margin: 80px 40px 0 40px;
  font-size: 2.8rem;
  color: #393939;
  align-content: center;
  align-items: center;
}
.descricao strong {
  color: black;
}
.descricao-resumo {
  display: none;
}
.formacao {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 80px 40px 0 40px;
  align-items: center;
}

.titulo-f {
  font-size: 7.5rem;
  text-align: end;
  color: #f4f4f4;
}

.formacao-menu {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
  padding: 9rem;
  background-color: #b3b2b2;
  border-radius: 10px 10px 0 0;
  gap: 2rem;
  margin: 0;
}
.formacao-menu li {
  padding: 3.5rem 3rem;
  border-radius: 5px;
  background-color: #dbdbdb;
}

.formacao-menu .design {
  padding: 3.5rem 5.5rem;
  position: relative;
}
.formacao-menu .design::before {
  position: absolute;
  display: flex;
  content: "";
  height: 20px;
  width: 15px;
  left: -15px;
  top: 30px;
  background: linear-gradient(to right, #ff2f00, #9b3131);
  border-radius: 5px 0 0 5px;
}
.formacao-menu .design::after {
  position: absolute;
  display: block;
  content: "";
  height: 25px;
  width: 25px;
  left: 40px;
  top: 30px;
  background: url("../img/chapeu_formação.svg");
}

.formacao-menu .ti {
  position: relative;
}
.formacao-menu .design::before {
  position: absolute;
  display: flex;
  content: "";
  height: 20px;
  width: 15px;
  left: -15px;
  top: 30px;
  background: linear-gradient(to right, #ff2f00, #9b3131);
  border-radius: 5px 0 0 5px;
}
.formacao-menu .ti::after {
  position: absolute;
  display: block;
  content: "";
  height: 25px;
  width: 25px;
  left: 40px;
  top: 30px;
  background: url("../img/chapeu_formação.svg");
}
.formacao-menu .ti::before {
  position: absolute;
  display: flex;
  content: "";
  height: 20px;
  width: 15px;
  left: -15px;
  top: 30px;
  background: linear-gradient(to right, #ff2f00, #9b3131);
  border-radius: 5px 0 0 5px;
}
.formacao-menu h3 {
  font-family: "Inria Serif";
  font-size: 2rem;
}
.formacao-menu p {
  margin-top: 20px;
  color: #797979;
  font-size: 1.3rem;
}

@media (max-width: 1350px) {
  .titulo {
    font-size: 6rem;
    margin: 0px 90px;
  }
  .descricao {
    font-size: 2.5rem;
  }
  .titulo-f {
    font-size: 7rem;
  }
  .formacao-menu {
    padding: 8.5rem;
  }
  .formacao-menu li {
    padding: 3rem 2.5rem;
  }
  .formacao-menu .design {
    padding: 3rem 5rem;
  }
  .formacao-menu .design::after {
    display: none;
  }
  .formacao-menu .ti::after {
    display: none;
  }
  .formacao-menu h3 {
    font-size: 1.8rem;
  }
  .formacao-menu p {
    font-size: 1rem;
  }
}
@media (max-width: 1250px) {
  .titulo {
    grid-column: 1 / -1;
    font-size: 5.5rem;
    margin: 0px 90px;
  }
  .eu {
    display: none;
  }
  .descricao {
    display: none;
  }
  .formacao {
    grid-column: 1 / -1;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  .titulo-f {
    font-size: 6.5rem;
  }
  .formacao-menu {
    padding: 6rem;
  }
  .formacao-menu li {
    padding: 2.5rem 2rem;
  }
  .formacao-menu .design {
    padding: 2.5rem 4.5rem;
  }
  .formacao-menu h3 {
    font-size: 1.4rem;
  }
  .formacao-menu p {
    font-size: 1rem;
  }
}
@media (max-width: 1100px) {
  .titulo-f {
    font-size: 4.5rem;
  }
  .formacao-menu {
    padding: 5rem;
  }
  .formacao-menu h3 {
    font-size: 1.2rem;
  }
  .formacao-menu li {
    padding: 2rem 1.5rem;
  }
  .formacao-menu .design {
    padding: 2rem 3.3rem;
  }
}
@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
  }
  .titulo {
    font-size: 4rem;
  }
  .titulo-f {
    font-size: 5rem;
  }
  .formacao {
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .descricao {
    text-align: center;
    grid-column: 1/-1;
    display: block;
  }
  .descricao-completa {
    display: none;
  }
  .descricao-resumo {
    display: block;
  }
  .formacao-menu {
    background-color: transparent;
  }
  .formacao-menu h3 {
    font-size: 2.5rem;
  }
  .formacao-menu p {
    font-size: 1.5rem;
  }
  .design br {
    display: none;
  }
  .titulo-f br {
    display: none;
  }
}
@media (max-width: 650px) {
  .titulo {
    font-size: 2.2rem;
  }
  .descricao {
    font-size: 1.5rem;
    margin: 20px 20px 0 20px;
  }
  .formacao {
    margin: 0;
  }
  .titulo-f {
    font-size: 2rem;
  }

  .formacao-menu {
    display: block;
    gap: 0.5rem;
    background-color: #b3b2b2;
  }
  .formacao-menu .ti,
  .formacao-menu .design {
    align-items: center;
    width: 120px;
    height: 100px;
    margin: 10px;
    padding: 40px;
  }
  .formacao-menu h3 {
    font-size: 1.2rem;
  }
  .formacao-menu p {
    font-size: 1rem;
  }
  .formacao-menu .design::before,
  .formacao-menu .ti::before {
    display: none;
  }
}
@media (max-width: 450px) {
  .titulo {
    font-size: 1.3rem;
  }
  .descricao {
    font-size: 0.8rem;
    margin: 10px 0;
  }
  .formacao {
    margin: 0;
  }
  .titulo-f {
    font-size: 1rem;
  }

  .formacao-menu {
    display: block;
    gap: 0.5rem;
    background-color: #b3b2b2;
  }
  .formacao-menu .ti,
  .formacao-menu .design {
    align-items: center;
    width: 100px;
    height: 80px;
    margin: 10px;
    padding: 5px;
  }
  .formacao-menu h3 {
    font-size: 0.8rem;
  }
  .formacao-menu p {
    font-size: 0.6rem;
  }
  .formacao-menu .design::before,
  .formacao-menu .ti::before {
    display: none;
  }
}
